<!DOCTYPE html>
<html>
<head>
	<title>Welcome to music webpage</title>
	<link rel="stylesheet" type="text/css" href="css/style2.css">
</head>
<body>
	<div class="main">

		<div class="overlay"></div>
		<div class="navbar">
			<div class="logo">MUSIC</div>
			<ul>
				<li><a href="#">ABOUT US</a></li>
				<li><a href="#">CONTACT US</a></li>
			</ul>
		</div>
		<div class="heading">
				<h1 class="head">WELCOME TO OUR MUSIC <span>WEBSITE</span></h1>
				<h3 class="sub">Listen Songs For Free</h3>	
				<div class="btns">
					<a href="/register">Register</a>
   					<a href="/login">Login</a>
				</div>	
		</div>
	</div>	
</body>
</html>